
<footer class="container-fluid position-fixed bottom-0">
    <ul class="nav justify-content-center border-bottom">
        <li class="nav-item"><a href="/" class="nav-link text-muted">Inicio</a></li>
        <li class="nav-item"><a href="/alunos" class="nav-link text-muted">Alunos</a></li>
    </ul>
    <p class="text-center text-muted">© 2024 Senac Cora Coralina, Rafael Farias</p>
</footer>
