<form action="">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" value="{{aluno.nome}}">
    </div>
    <div class="mb-3">
        <label class="form-label">matricula</label>
        <input type="text" class="form-control" value="{{aluno.matricula}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Data de nascimento</label>
        <input type="text" class="form-control" value="{{aluno.data_nascimento}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Endereço Email</label>
        <input type="text" class="form-control" value="{{aluno.email}}">
    </div>
</form>